<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" type="text/css" href="assest/resources/css/mainproject.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assest/resources/css/mobile-media.css">
    <link rel="stylesheet" type="text/css" href="assest/resources/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assest/resources/css/queries.css">
    <link rel="stylesheet" type="text/css" href="assest/vendors/grid.css">
    <link rel="stylesheet" type="text/css" href="assest/resources/css/vido-style.css">
    <link rel="stylesheet"  href="assest/resources/css/ionicons.css">
    <script src="assest/resources/js/script.js"></script>
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="assest/resources/css/magnific-popup.css">
    <!-- Magnific Popup core JS file -->
    <script src="assest/resources/js/jquery.magnific-popup.js"></script>

  </head>
  <body>
    <div class="home_section" >
       <header>
         <nav class="home-nav">
           <img src="assest/resources/img/logo.png" alt="York-logo" class="logo">
           <ul>
             <li ><a href="#" style="color:white">TBA</a></li>
             <li ><a href="#" style="color:white">TBA</a></li>
             <li ><a href="#" style="color:white">TBA</a></li>
             <li ><a href="#" style="color:white">TBA</a></li>
           </ul>
         </nav>
         <div class="intro-section">
            <div class="intro-section-main-header">
              <h1>CHANGING THE GAME <br><span>ONE DEVELOPER</span> AT A TIME</h1>
            </div>
               <h3><i>So easy a toddler can do it, oh wait... maybe not</i></h3>
               <ul>
                 <li><a href="#" style="background-color:#D4AC0D" class="btn btn-learn-more">Learn more</a></li>
                 <li><a href="/login" class="btn btn-developer" formaction='/login'> Become A Developer</a></li>
               </ul>
         </div>
       </header>
     </div>



     <section class="testimonial-section">
       <div class="row testimonial-header">
         <h2><b>WHAT PEOPLE SAY</b></h2>
         <p>With every vision to change young minds, it is always good to have strong testimonies proving how well the program will bring results.  If you don’t take our word for it see what these people have to say.</p>
       </div>
       <div class="row testimonial-mainbox">
         <div class="col span-1-of-3 testimonies-box">
           <div class="testimonies-inner-box">
             <div class="testimony-img">
               <img src="assest/resources/img/image1.jpg" alt="">
             </div>
             <div class="paraDiv">
               <blockquote>This program really helped young individuals gain a great foundation of what it takes to become a web developer.
                 With a great foundation, they can be able to create whatever comes to mind.</blockquote>
             </div>
             <div class="qouteDiv ">
               <blockquote><b>Ibraheem Rawlison</b><br><sub>TEAM NEMA</sub></blockquote>
             </div>
             </div>
         </div>
         <div class="col span-1-of-3 testimonies-box">
           <div class="testimonies-inner-box">
           <div class="testimony-img">
             <img src="assest/resources/img/image2.jpg" alt="">
           </div>
           <div class="paraDiv">
         <blockquote>
            This program is really in depth on and intense. Like they say it’s learning another language that computers know. As soon as you fully understand the language you can create things you want, which is pretty cool
         </blockquote>
           </div>
           <div class="qouteDiv">
             <blockquote><b>Alan Rodriguez</b><br><sub>TEAM NEMA</sub></blockquote>
           </div>
         </div>
         </div>
         <div class="col span-1-of-3 testimonies-box">
           <div class="testimonies-inner-box">
           <div class="testimony-img">
             <img src="assest/resources/img/image3.jpg" alt="">
           </div>
           <div class="paraDiv">
             <blockquote> My first impression about this opportunity was that getting the certification was the only benefit. I realized that going through this program you gain plenty of benefits such as strong network and friendships.</blockquote>
           </div>
           <div class="qouteDiv">
             <blockquote><b>Emmanuel Burgos</b><br><sub>TEAM NEMA</sub></blockquote>
           </div>
         </div>
       </div>
       </div>
     </section>
     <section class="section-learn">
      <div class="row learn-header">
        <h2>WHAT WILL YOU LEARN</h2>
      </div>
      <div class="row learn-info-box">
        <div class="col span-1-of-4 info-boxes">
          <div class="coding-img">
            <p><img src="assest/resources/img/newhtml.png"alt=""></p>
              <div class="text-box">
                <h1>New Text Add here</h1>
              </div>
          </div>
        </div>

        <div class="col span-1-of-4 info-boxes">
          <div class="coding-img">
            <p><img src="assest/resources/img/css3.png" alt=""></p>
            <div class="text-box">
              <h1>New Text Add here</h1>
            </div>
          </div>
        </div>

        <div class="col span-1-of-4 info-boxes">
          <div class="coding-img">
            <p><img src="assest/resources/img/js.png" alt=""></p>
            <div class="text-box">
              <h1>New Text Add here</h1>
            </div>
          </div>
        </div>

        <div class="col span-1-of-4 info-boxes">
          <div class="coding-img">
            <p><img src="assest/resources/img/angular.png" alt=""></p>
            <div class="text-box">
              <h1>New Text Add here</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row learn-info-box">
        <div class="col span-1-of-4 info-boxes">
          <div class="coding-img">
            <p><img src="assest/resources/img/node.png" alt=""></p>
            <div class="text-box">
              <h1>New Text Add here</h1>
            </div>
          </div>
        </div>

        <div class="col span-1-of-4 info-boxes">
          <div class="coding-img">
            <p><img src="assest/resources/img/express.png" alt=""></p>
            <div class="text-box">
              <h1>New Text Add here</h1>
            </div>
          </div>
        </div>

        <div class="col span-1-of-4 info-boxes">
          <div class="coding-img">
            <p><img src="assest/resources/img/mongo.png" alt=""></p>
          </div>
        </div>

        <div class="col span-1-of-4 info-boxes">
          <div class="coding-img">
            <p><img src="assest/resources/img/java.png" alt=""></p>
          </div>
        </div>
      </div>
    </section>






















    <!--
      div named section-team will have 2 divs inside
      named row with an additional class name.
    -->
    <section class="section-team">
      <div class="row section-team-header">
        <h2>CREATIVE TEAM</h2>
        <p>The brains behind DYCD web development</p>
      </div>
      <div class="row section-team-info">
        <div class="col span-1-of-4 section-team-member">
          <div class="team-member-pic member1">
          </div>
          <div class="team-member-name">
            <h4>Sufian Khalid</h4>
            <a href="#"><i class="ion-social-linkedin icons"></i></a>
            <a href="#"><i class="ion-ios-email icons"></i></a>
            <a href="#"><i class="ion-social-github icons"></i></a>
          </div>
        </div>
        <div class="col span-1-of-4 section-team-member">
          <div class="team-member-pic member2">
          </div>
          <div class="team-member-name">
            <h4>Lawrence Mensah</h4>
            <a href="#"><i class="ion-social-linkedin icons"></i></a>
            <a href="#"><i class="ion-ios-email icons"></i></a>
            <a href="#"><i class="ion-social-github icons"></i></a>
          </div>
        </div>
        <div class="col span-1-of-4 section-team-member">
          <div class="team-member-pic member3">
          </div>
          <div class="team-member-name">
            <h4>Alfredo Caban</h4>
            <a href="#"><i class="ion-social-linkedin icons"></i></a>
            <a href="#"><i class="ion-ios-email icons"></i></a>
            <a href="#"><i class="ion-social-github icons"></i></a>
          </div>
        </div>
        <div class="col span-1-of-4 section-team-member">
          <div class="team-member-pic member4">
          </div>
          <div class="team-member-name">
            <h4>Malyke Garcia</h4>
            <a href="#"><i class="ion-social-linkedin icons"></i></a>
            <a href="#"><i class="ion-ios-email icons"></i></a>
            <a href="#"><i class="ion-social-github icons"></i></a>
          </div>
        </div>
      </div>
    </section>








     <section class="section-video-link">
           <div class="video-section">
             <p><a class="test-popup-link" href="https://www.youtube.com/watch?v=jG7dSXcfVqE">
               <img src="assest/resources/img/logo0.png" alt="Play"></a></p>
             <h2 class="header">Expectations, Experiences, Outcomes </h2>
             <h3 class="text">The young adults have something to say about this program.
               <br>Don’t miss out.
           </div>
     </section>

     <footer class="footer-section">
       <div class="col span-1-of-2">
         <div class="">
             <ul>
               <li><a href="">About Us</a></li>
               <li><a href="">Sign Up</a></li>
               <li><a href="">Other Programs</a></li>
               <li><a href="">Contact Us</a></li>
             </ul>
           </div>
         </div>
         <div class="col span-1-of-2">
           <ul class="social-links">
             <li><a href="#"><i class="ion-social-facebook"></i></a></li>
             <li><a href="#"><i class="ion-social-twitter"></i></a></li>
             <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
             <li><a href="#"><i class="ion-social-instagram"></i></a></li>
           </ul>
         </div>
         <div class="">
         <p>Copyright © 2018 by TeamNema. All rights reserved.</p>
       </div>
     </footer>

  </body>
</html>
