<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <div class="signup-cntr">
      <form class="signup-box" action="/signup" method="post">
        <label for="">First Name</labe><br>
        <input type="text" name="firstName" value="">
        <br><br>
        <label for="">Last Name</labe><br>
        <input type="text" name="lastName" value="">
        <br><br>
        <label for="">Email</labe><br>
        <input type="text" name="email" value="">
        <br><br>
        <label for="">Phone Number</labe><br>
        <input type="text" name="phoneNumber" value="">
        <br><br>
        <input type="submit" name="" value="submit">
      </form>
    </div>
  </body>
</html>
