<!DOCTYPE html>
<html>
  <head>
    <title>DYCD Testimonials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" type="text/css" href="assest/resources/css/mainroject.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assest/resources/css/mobile-media.css">
    <link rel="stylesheet" type="text/css" href="assest/resources/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assest/resources/css/queries.css">
    <link rel="stylesheet" type="text/css" href="assest/resources/css-people/people-style.css">
		<link rel="stylesheet" type="text/css" href="assest/vendors/grid.css">
    <script src="assest/resources/js/script.js"></script>

  </head>
  <body>
    <div class="testimonial-section">
      <div class="row testimonial-header">
        <h2><b>WHAT PEOPLE SAY</b></h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsumhas been the industry’s standard dummy text
          ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been
           the industry’s standard dummy text since.</p>
      </div>
      <div class="row testimonial-mainbox">
        <div class="col span-1-of-3 testimonies-box">
					<div class="testimonies-inner-box">
	          <div class="testimony-img">
	            <img src="assest/resources/img/image1.jpg" alt="">
	          </div>
	          <div class="paraDiv">
	            <blockquote>Trust us we looked for a very long time and wasted thousands of
	              dollars testing other teams, freelancers, and outsource companies.</blockquote>
	          </div>
	          <div class="qouteDiv ">
	            <blockquote><b>SHOKO MUGIKURA</b><br><sub>CO-FOUNDER/CEO</sub></blockquote>
	          </div>
						</div>
        </div>
        <div class="col span-1-of-3 testimonies-box">
					<div class="testimonies-inner-box">
          <div class="testimony-img">
            <img src="assest/resources/img/image2.jpg" alt="">
          </div>
          <div class="paraDiv">
        <blockquote>
					Trust us we looked for a very long time and wasted thousands of
	              dollars testing other teams, freelancers, and outsource companies.
        </blockquote>
          </div>
          <div class="qouteDiv">
            <blockquote><b>ALEXANDER SMITH</b><br><sub>CREATIVE DIRECTOR</sub></blockquote>
          </div>
        </div>
				</div>
        <div class="col span-1-of-3 testimonies-box">
					<div class="testimonies-inner-box">
          <div class="testimony-img">
            <img src="assest/resources/img/image3.jpg" alt="">
          </div>
          <div class="paraDiv">
            <blockquote>Trust us we looked for a very long time and wasted thousands of
              dollars testing other teams, freelancers, and outsource companies.</blockquote>
          </div>
          <div class="qouteDiv">
            <blockquote><b>LINDSAY SWANSON</b><br><sub>DESIGN MANAGER</sub></blockquote>
          </div>
        </div>
			</div>
      </div>
    </div>
  </body>
</html>
